// Blockquotes
blockquote {
  background: $neutral-lightest;
  padding: ($line-height-computed / 2) $line-height-computed;
  margin: 0 0 $line-height-computed;
  font-size: $blockquote-font-size;
  border-left: none;
}

// Quotes
blockquote:before,
blockquote:after {
  content: "";
}

h1,h2, h3, h4, h5, h6 {
  font-weight: 200
}

h1 {line-height: (52 / 35);}

h2 {line-height: (45 / 30);}

h3 {line-height: (37 / 25);}

h4 {line-height: (30 / 20);}

h5 {
  line-height: (27 / 15);
  font-weight: 800;
}

h6 {
  color: $neutral-mid;
  line-height: (27 / 13);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.subtle-underline {
  display: inline-block;
  border-bottom: 2px solid $neutral-lightest;
}

.tiny {
  font-size: $font-size-tiny;
}
