//**** REGULAR ICONS - must specify size class when using
@mixin ico-size($size) {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: $size $size;
	width: $size;
	height: $size;
}

@mixin ico-fixed-path($fixed-ico) {
  background-image: url('#{$updater-cdn}/ico-#{$fixed-ico}-large.svg');
  .no-svg & {
    background-image: url('#{$updater-cdn}/ico-#{$fixed-ico}-large.png');
  }
}

@mixin ico-responsive-path($ico, $type) {
	background-image: url('#{$updater-cdn}/ico-#{$ico}-#{$type}.svg');
	.no-svg & {
		background-image: url('#{$updater-cdn}/ico-#{$ico}-#{$type}.png');
	}
}

// Add icons to the array

@each $fixed-ico in
  mail,
  utilities,
  cable,
  deals,
  accounts,
  sharemove,
  dog {

  .ico-#{$fixed-ico} {

  	&.ico-large {
    	@include ico-size(250px);
    	@include ico-fixed-path($fixed-ico);
  	}

  	&.ico-medium {
    	@include ico-size(150px);
    	@include ico-fixed-path($fixed-ico);
  	}

  	&.ico-small {
    	@include ico-size(100px);
    	@include ico-fixed-path($fixed-ico);
  	}

  	&.ico-tiny {
    	@include ico-size(50px);
    	@include ico-fixed-path($fixed-ico);
  	}

  }
}


// RESPONSIVE ICONS - adapt to screen size

@each $responsive-ico in
  mail,
  utilities,
  cable,
  deals,
  accounts,
  sharemove {

  .ico-#{$responsive-ico} {

    &.ico-responsive {

      @media (min-width: $screen-md) {
        @include ico-size(250px);
        @include ico-responsive-path($responsive-ico, large);
      }
      @media (max-width: $screen-md-max) {
        @include ico-size(150px);
        @include ico-responsive-path($responsive-ico, medium);
      }
      @media (max-width: $screen-sm-max) {
        @include ico-size(100px);
        @include ico-responsive-path($responsive-ico, small);
      }
      @media (max-width: $screen-xs-max) {
        @include ico-size(50px);
        @include ico-responsive-path($responsive-ico, tiny);
      }

    }

  }
}


