//**** REGULAR ICONS - must specify size class when using
@mixin ico-size($size) {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: $size $size;
	width: $size;
	height: $size;
}

@mixin ico-type($ico, $type) {
	background-image: url('#{$updater-cdn}/ico-#{$ico}-#{$type}.svg');
	.no-svg & {
		background-image: url('#{$updater-cdn}/ico-#{$ico}-#{$type}.png');
	}
}

// Add icons to the array

@each $ico in
	mail,
	utilities,
	cable,
	deals
	accounts,
	sharemove {

  .ico-#{$ico} {

  	&.ico-large {
    	@include ico-size(250px);
    	@include ico-type($ico, large);
  	}

  	&.ico-medium {
    	@include ico-size(150px);
    	@include ico-type($ico, medium);
  	}

  	&.ico-small {
    	@include ico-size(100px);
    	@include ico-type($ico, small);
  	}

  	&.ico-tiny {
    	@include ico-size(50px);
    	@include ico-type($ico, tiny);
  	}

  }
}


// RESPONSIVE ICONS - adapt to screen size

@each $responsive-ico in
  mail,
  utilities,
  cable,
  deals
  accounts,
  sharemove {

  .ico-#{$responsive-ico} {

    &.ico-responsive {

      @media (min-width: $screen-md) {
        @include ico-size(250px);
        @include ico-type($responsive-ico, large);
      }
      @media (max-width: $screen-md-max) {
        @include ico-size(150px);
        @include ico-type($responsive-ico, medium);
      }
      @media (max-width: $screen-sm-max) {
        @include ico-size(100px);
        @include ico-type($responsive-ico, small);
      }
      @media (max-width: $screen-xs-max) {
        @include ico-size(50px);
        @include ico-type($responsive-ico, tiny);
      }

    }

  }
}