.line-thru {

    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;

    span { padding: 0 0.5em; }

    &:before, &:after {
        position: absolute;
        top: 50%;
        overflow: hidden;
        width: 50%;
        height: 2px;
        content: '';
        background-color: $neutral-lightest;
    }

    &:before {
        margin-left: -50%;
        text-align: right;
    }

}