//**** MISC - style guide specific only

// Logo on red background

.img-thumbnail-logo {
  padding: 10px;
  line-height: $line-height-base;
  background-color: $red-darker;
  @include transition(all .2s ease-in-out);

  // Keep them at most 100% wide
  @include img-responsive(inline-block);
}

// Whitelabel icons

@mixin whitelabel($color) {
  display: inline-block;
  background-color: $color;
  background-image: url('#{$updater-cdn}/whitelabel-ico-utilities.svg');
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.ico-whitelabel-red {
	@include whitelabel($red-darker);
}

.ico-whitelabel-green {
	@include whitelabel($green-darker);
}

.ico-whitelabel-blue {
	@include whitelabel($blue-darker);
}