.question-module {
	margin: 20px 0 40px;
	h6 {
		margin: 10px 0 5px;
	}
	.question-title {

      	@media (min-width: $screen-sm) {
	       	font-size: $font-size-h3;
      	}
      	@media (max-width: $screen-xs) {
      		font-size: $font-size-h4;
      	}
		
		margin: 5px 0 10px;
		font-weight: 800;
		color: $blue-dark;
	}
	.form-group {
		margin-bottom: 10px;
	}
	label {
		margin-right: 25px;
		text-transform: none;
	}
	.question-submit {
		padding-top: 20px;
		margin-top: 15px;
		border-top: 1px solid $blue-lighter;
	}
}