<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarCtrl" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target="#collapsenav" data-toggle="collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#">Updater Style Guides</a>
    </div>
    <div class="collapse navbar-collapse" id="collapsenav">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{active: isActive(item.link)}" ng-repeat="item in menu">
          <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
