.row
  .col-xs-12
    div(ng-include="'partials/navbar.html'")


/***** TYPOGRAPHY

.row
  .col-md-12
    h3.subtle-underline Typography
    h6 General

/* Paragraphs */
.row
  .col-md-4
    p.lead
      strong> I am a lead paragraph.
      | I am good for introducing content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in tincidunt ligula. Sed iaculis risus sit amet ligula adipiscing porttitor et ut enim.

  .col-md-4
    p
      strong> I am a paragraph.
      | Hobbies include: being legible. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in tincidunt ligula. Sed iaculis risus sit amet ligula adipiscing porttitor et ut enim. Phasellus sed pretium lorem, in venenatis turpis. Integer ut mattis eros. <a href="#">Oh hai, I’m a link</a>.

  .col-md-4
    p.small
      strong> I am a small paragraph.
      | I complement paragraph text very nicely. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in tincidunt ligula. Sed iaculis risus sit amet ligula adipiscing porttitor et ut enim. Phasellus sed pretium lorem.

.row
  .col-md-4
    p.small.text-muted
      strong> I am a small, subtle paragraph.
      | I'm, like, barely here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in tincidunt ligula. Sed iaculis risus sit amet ligula adipiscing porttitor et ut enim. Phasellus sed pretium lorem.

  .col-md-4
    p.tiny
      strong> I am tiny text.
      | I am mighty and often contain important information. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in tincidunt ligula. Sed iaculis risus sit amet ligula adipiscing porttitor et ut enim. Phasellus sed pretium lorem, in venenatis turpis. Integer ut mattis eros.
  .col-md-4
    blockquote
      strong> I am a block quote. 
      | I love being blocky. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in tincidunt ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in tincidunt ligula.


/* Headers */

.row
  .col-xs-1
    h6 H1
  .col-xs-11
    h1 I have something very important to say
.row
  .col-xs-1
    h6 H2
  .col-xs-11
    h2 I'm slightly less important
.row
  .col-xs-1
    h6 H3
  .col-xs-11
    h3 I'm what this style guide uses for sections headers!
.row
  .col-xs-1
    h6 H4
  .col-xs-11
    h4 I'm getting even smaller
.row
  .col-xs-1
    h6 H5
  .col-xs-11
    h5 I'm the same as normal paragraph text, but heavier
.row
  .col-xs-1
    h6 H6
  .col-xs-11
    h6 I'm a smaller, lighter, gentler headline


/***** LISTS

.row
  .col-md-12
    h3.subtle-underline Lists

.row
  .col-md-4
    h6 Icon List
    ul.fa-ul
      li
        i.fa-li.fa.fa-gavel
        strong> I am the prettiest list of all.
        | Lorem ipsum dolor sit amet
      li
        i.fa-li.fa.fa-link
        strong> Some say I don't scale down very well.
        | Lorem ipsum dolor sit amet
      li
        i.fa-li.fa.fa-suitcase
        strong> They are mean.
        | Lorem ipsum dolor sit amet

  .col-md-4
    h6 Checked List
    ul.checked-list
      li
        strong> I am an accomplished list.
        | Lorem ipsum dolor sit amet
      li
        strong> Some say I'm uptight.
        | Lorem ipsum dolor sit amet
      li
        strong> It's true that I was born a sociopath.
        | Lorem ipsum dolor sit amet
  .col-md-4
    h6 Bullet List
    ul
      li
        strong> I'm a basic list.
        | Lorem ipsum dolor sit amet
      li
        strong> Some say I'm boring.
        | Lorem ipsum dolor sit amet
      li
        strong> But they just don't know the real me.
        | Lorem ipsum dolor sit amet


/***** COLORS

.row
  .col-md-12
    h3.subtle-underline Colors
    h6 Primary

/* Blues */
.row
  .col-sm-2.swatch-wrap(ng-repeat="blueSwatch in blueSwatches")
    .swatch(style="background-color: \#{{blueSwatch.color}}")
    p.text-muted.small.text-center \#{{blueSwatch.color}}

/* Greens */
.row
  .col-sm-2.swatch-wrap(ng-repeat="greenSwatch in greenSwatches")
    .swatch(style="background-color: \#{{greenSwatch.color}}")
    p.text-muted.small.text-center \#{{greenSwatch.color}}

/* Reds */
.row
  .col-sm-2.swatch-wrap(ng-repeat="redSwatch in redSwatches")
    .swatch(style="background-color: \#{{redSwatch.color}}")
    p.text-muted.small.text-center \#{{redSwatch.color}}

/* Yellows */
.row
  .col-sm-2.swatch-wrap(ng-repeat="yellowSwatch in yellowSwatches")
    .swatch(style="background-color: \#{{yellowSwatch.color}}")
    p.text-muted.small.text-center \#{{yellowSwatch.color}}

/* Neutrals */
.row
  .col-md-12
    h6 Neutrals
.row
  .col-sm-2.swatch-wrap(ng-repeat="neutralSwatch in neutralSwatches")
    .swatch(style="background-color: \#{{neutralSwatch.color}}")
    p.text-muted.small.text-center \#{{neutralSwatch.color}}


/***** ICONS

.row
  .col-md-12
    h3.subtle-underline Iconography
    p
      | <a href="#">Click here for a full list of icons</a>

/* Updater Icons */
.row
  .col-md-8
    h6 Updater-Brand
    p
      strong> Iconography is a fundamental part of our messaging.
      | Our Updater-branded icons are responsive and used across our website, emails, and partner sites.
.row
  .col-md-4
    h6 Large
    .ico-mail.ico-large
  .col-md-3
    h6 Medium
    .ico-mail.ico-medium
  .col-md-2
    h6 Small
    .ico-mail.ico-small
  .col-md-1
    h6 Tiny
    .ico-mail.ico-tiny

.row
  .col-md-4
    h6 Large
    .ico-utilities.ico-large
  .col-md-3
    h6 Medium
    .ico-utilities.ico-medium
  .col-md-2
    h6 Small
    .ico-utilities.ico-small
  .col-md-1
    h6 Tiny
    .ico-utilities.ico-tiny

/* Branded Icons */
.row
  .col-md-8
    h6 Branded Icons
    p In the event that a partner demands a bespoke end-user experience, we use these icons.
.row
  .col-md-3
    .ico-whitelabel-red
  .col-md-3
    .ico-whitelabel-green
  .col-md-3
    .ico-whitelabel-blue
br

/***** LOGO

.row
  .col-md-12
    h3.subtle-underline Logo

.row
  .col-sm-3
    img src="https://updater-partners.s3.amazonaws.com/updater_new/logo-red.svg" class="img-responsive" alt="Responsive image"
  .col-sm-3
    img src="https://updater-partners.s3.amazonaws.com/updater_new/logo-white.svg" class="img-thumbnail-logo" alt="Responsive image"
  .col-sm-3
    img src="https://updater-partners.s3.amazonaws.com/updater_new/logo-black.svg" class="img-responsive" alt="Responsive image"
br

/***** FAVICON

.row
  .col-md-12
    h3.subtle-underline Favicon
.row
  .col-md-12
    img src="favicon.ico"
br

/***** GRAPHICS

.row
  .col-md-12
    h3.subtle-underline Graphics

.row
  .col-md-8
    h6 General
    p
      strong> We use illustrations throughout our site.
      | We do not use actual screenshots or photography unless they are necessary for context (for example: agent headshots or team photos). All illustrations should adhere to the following specs:

/* Stroke width */
.row
  .col-xs-6.col-md-3
    p.small
      strong> Stroke width
      br
      | 3-10px (proportionate to image)
  .col-xs-6.col-md-3
    img src="https://updater-partners.s3.amazonaws.com/updater_new/graphics-stroke.svg" class="img-responsive" alt="Responsive image"
br
/* Color use */
.row
  .col-xs-6.col-md-3
    p.small
      strong> Colors
      br
      | 2+ colors per image
  .col-xs-6.col-md-3
    img src="https://updater-partners.s3.amazonaws.com/updater_new/graphics-colors.svg" class="img-responsive" alt="Responsive image"
br
/* Shape */
.row
  .col-xs-6.col-md-3
    p.small
      strong> Shape
      br
      | Use a combination of round and hard corners
  .col-xs-6.col-md-3
    img src="https://updater-partners.s3.amazonaws.com/updater_new/graphics-corners.svg" class="img-responsive" alt="Responsive image"

/* Screenshots */
.row
  .col-md-6
    h6 screenshots
    p
      | Screenshots are simplified illustrations of our site that exist inside the following screens:
.row
  .col-md-4
    img src="https://updater-partners.s3.amazonaws.com/updater_new/screenshot-desktop-fill.svg" class="img-responsive" alt="Responsive image"
  .col-md-4
    img src="https://updater-partners.s3.amazonaws.com/updater_new/screenshot-desktop-stroke.svg" class="img-responsive" alt="Responsive image"
br
.row
  .col-md-4
    img src="https://updater-partners.s3.amazonaws.com/updater_new/screenshot-laptop-fill.svg" class="img-responsive" alt="Responsive image"
  .col-md-4
    img src="https://updater-partners.s3.amazonaws.com/updater_new/screenshot-laptop-stroke.svg" class="img-responsive" alt="Responsive image"

/* Splash Illos */
.row
  .col-md-8
    h6 splashes
    p
      | Splash illustrations introduce a page concept. While they should follow the Updater color palette, they have more flexibility in terms of color balance, shape, and line.
.row
  .col-md-12
    img src="https://updater-partners.s3.amazonaws.com/updater_new/illos-motherboard-01.svg" class="img-responsive" alt="Responsive image"
br
.row
  .col-md-12
    img src="https://updater-partners.s3.amazonaws.com/updater_new/illos-neighborhood-01.svg" class="img-responsive" alt="Responsive image"


/***** GRID

.row
  .col-md-12
    h3.subtle-underline Grid
.row
  .col-md-8
    p
      strong>Updater uses a 12-column fluid grid that is built on Bootstrap 3.
      | The size of the container responds to the user’s viewport size. The size of the elements within containers is defined as a percentage of the parent element.
    p
      | As screen sizes become smaller, we can use classes to cause side-by-side elements to either shrink in percentage or stack vertically. We can also hide or show elements depending on screen size. It's our responsivility to ensure end-users on all screen sizes have an equally enjoyable experience on our site.
    p
      | We use SCSS to mixin predefined styles from Bootstrap into our styles. Jump over here for more details on Bootstrap grids.
/* Grid Example */
.row
  .col-md-1
    p.bg-success.text-center 1
  .col-md-1
    p.bg-success.text-center 1
  .col-md-1
    p.bg-success.text-center 1
  .col-md-1
    p.bg-success.text-center 1
  .col-md-1
    p.bg-success.text-center 1
  .col-md-1
    p.bg-success.text-center 1
  .col-md-1
    p.bg-success.text-center 1
  .col-md-1
    p.bg-success.text-center 1
  .col-md-1
    p.bg-success.text-center 1
  .col-md-1
    p.bg-success.text-center 1
  .col-md-1
    p.bg-success.text-center 1
  .col-md-1
    p.bg-success.text-center 1

.row
  .col-md-4
    p.bg-primary.text-center .col-md-4
  .col-md-8
    p.bg-primary.text-center .col-md-8


/***** ELEMENTS

.row
  .col-md-12
    h3.subtle-underline Elements
    p
      | Little bits of wonderful used throughout our site

/* Ribbons */
.row
  .col-md-12
    h6 Ribbons
    p
      | Ribbons are single-line statements used as headlines or to draw attention to an area. They should used sparingly so the page doesn’t begin to look like a carnival.
      h2.ribbon-green-darker.full-ribbon
        span I'm an H2 and I'm wearing $green-darker
      br
      h2.ribbon-green-lighter.full-ribbon
        span I'm an H2 and I'm wearing $green-lighter
      br
      h3.ribbon-blue-darker.right-ribbon
        span I'm an H3 and I'm wearing $blue-darker
      br
       h3.ribbon-blue-lighter.right-ribbon
        span I'm an H3 and I'm wearing $blue-lighter
      br
      h4.ribbon-red-darker.left-ribbon
        span I'm an H4 and I'm wearing $red-darker
      br
      h4.ribbon-red-lighter.left-ribbon
        span I'm an H4 and I'm wearing $red-lighter
      br
      h5.ribbon-yellow-darker.full-ribbon
        span I'm an H5 and I'm wearing $yellow-darker
      br
      h5.ribbon-yellow-mid.full-ribbon
        span I'm an H5 and I'm wearing $yellow-mid

/* Horizontal lines */
.row
  .col-md-8
    h6 Horizontal line thru text
    p
      | Sometimes, we'll employ the use of a headline with a 2px line going through it.

    h2.line-thru
      span Hi, I'm special

    p
      | The same treatment might also be used to distinguish between two options.

    .well.text-center Here's a thing
    .line-thru
      span.text-muted OR
    .well.text-center Here's another thing

/* Tooltips */
.row
  .col-md-8
    h6 Tooltips
    p
      | Tooltips can be added to links or to form labels to provide more detail on hover. They can also be used to describe an error on a form field.

    button.btn.btn-default#tooltipexample(data-toggle="tooltip" data-placement="right" title="I'm a little tooltip") Try this

    javascript:
      $('#tooltipexample').tooltip();

/* Tooltips */
.row
  .col-md-8
    h6 Modals
    p
      | We use modals to collect information from the user only when they shouldn't be able to continue without providing it (i.e. "Set a password so we can save your place")

    button.btn.btn-default(data-toggle="modal" data-target=".modal-example") Launch a modal

    javascript:
      $('#modalexample').modal();

.modal.fade.modal-example(tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-hidden="true") x
        h4.modal-title#exampleLargeModalLabel It's a modal!
      .modal-body
        | Hooray! You launched me!

/***** FORMS

.row
  .col-md-12
    h3.subtle-underline Forms

/* Form Examples */
.row
  .col-md-8
    .form-horizontal(role="form")

      .form-group
        label.col-sm-4.control-label(for="focusedInput") Focused input
        .col-sm-8
          input.form-control#focusedInput(type="text" value="This is focused...")

      .form-group
        label.col-sm-4.control-label(for="disabledInput") Disabled input
        .col-sm-8
          input.form-control#disabledInput(type="text" placeholder="This is disabled..." disabled)

      .form-group.has-warning.has-feedback
        label.col-sm-4.control-label(for="inputWarning") Input warning
        .col-sm-8
          input.form-control#inputWarning(type="text")
          span.glyphicon.glyphicon-warning-sign.form-control-feedback

      .form-group.has-error.has-feedback
        label.col-sm-4.control-label(for="inputError") Input error
        .col-sm-8
          input.form-control#inputError(type="text")
          span.glyphicon.glyphicon-remove.form-control-feedback

      .form-group.has-success.has-feedback
        label.col-sm-4.control-label(for="inputSuccess") Input success
        .col-sm-8
          input.form-control#inputSuccess(type="text")
          span.glyphicon.glyphicon-ok.form-control-feedback

      .form-group
        label.col-sm-4.control-label(for="inputLarge") Input large
        .col-sm-8
          input.input-lg.form-control#inputLarge(type="text" placeholder="It's a large input")

      .form-group
        label.col-sm-4.control-label(for="exampleSwitch") On / Off Switch
        .col-sm-8
          .onoffswitch
            input.onoffswitch-checkbox#exampleswitch(type="checkbox" checked)
              label.onoffswitch-label(for="exampleswitch")
                .onoffswitch-inner
                .onoffswitch-switch

      .form-group
        label.col-sm-4.control-label Select Dropdown
        .col-sm-8
          .select
            select
              option state
              option AL
              option AK
              option AR

      .form-group
        label.col-sm-4.control-label Radio Select
        .col-sm-8.radio
          input#this1>(type="radio" name="thisorthat" checked)
          label(for="this1") This
          input#that1>(type="radio" name="thisorthat")                
          label(for="that1") Or that

      .form-group
        label.col-sm-4.control-label Radio Buttons
        .col-sm-8
          .btn-group>(data-toggle="buttons")
            label.btn.btn-primary
              input>(type="radio" name="options" id="option1" checked) Rent
            label.btn.btn-primary
              input>(type="radio" name="options" id="option2") Own

      .form-group
        label.col-sm-4.control-label Checkbox
        .col-sm-8.checkbox
          input>(type="checkbox" id="this2" name="petscheck" checked)
          label(for="this2") This
          input>(type="checkbox" id="that2" name="petscheck")                
          label(for="that2") And that?

      .form-group
        label.col-sm-4.control-label Textarea
        .col-sm-8
          textarea>(class="form-control" rows="3" placeholder="Enter your poetry here")

      .form-group
        label.col-sm-4.control-label Search
        .col-xs-6
          .search-custom
           span.glyphicon.glyphicon-search
           input>(type="search" class="form-control" placeholder="Search")

/***** BUTTONS

.row
  .col-md-12
    h3.subtle-underline Buttons
    p
      | All buttons have a corner radius of 5px.

/* Button Examples */
.row
  .col-md-12
    h6 Normal Buttons
    button.btn.btn-primary>(type="button") Primary
    button.btn.btn-success>(type="button") Secondary
    button.btn.btn-default>(type="button") Tertiary
    button.btn.btn-link>(type="button") A link among buttons
    button.btn.btn-cancel>(type="button") Delete

.row
  .col-md-12
    h6 Disabled Buttons
    button.btn.btn-primary.disabled>(type="button") Primary
    button.btn.btn-success.disabled>(type="button") Secondary
    button.btn.btn-default.disabled>(type="button") Tertiary
    button.btn.btn-link.disabled>(type="button") A link among buttons
    button.btn.btn-cancel.disabled>(type="button") Delete

.row
  .col-md-12
    h6 Different Button Sizes
    button.btn.btn-primary.btn-lg>(type="button") Big Button
    button.btn.btn-primary>(type="button") Normal size
    button.btn.btn-primary.btn-sm>(type="button") Small button
    button.btn.btn-primary.btn-xs>(type="button") Mini button

/***** QUESTION MODULE

.row
  .col-md-8
    h3.subtle-underline Question Module
    p
      | This box appears throughout the site at appropriate times to ask a user a question about their move. It should always inform the user why the question is being asked and how it will help them.
    
.row
  .col-md-12
    .question-module

      .row
        .col-xs-3.hidden-xs
          img.img-responsive(src="https://updater-partners.s3.amazonaws.com/updater_new/ico-dog-large.svg")
        .col-sm-9
            /h6.ribbon-green-lighter.right-ribbon.hidden-xs
              /span Moving with furry friends
            h6.subtle-underline.hidden-xs
              | Moving with furry friends
            .question-title Are you moving with dogs or cats?
            p.small Let us know if you are moving with pets. Chances are, we can help you save money on pet food and supplies.
            form.form-inline(role="form")
              .form-group.radio
                input>(type="radio" id="dogsradio" name="petsradio" checked)
                label(for="dogsradio") Dog(s)
                input>(type="radio" id="catsradio" name="petsradio")                
                label(for="catsradio") Cat(s)
                input>(type="radio" id="bothradio" name="petsradio")
                label(for="bothradio") Both

      .row
        .col-md-12.question-submit
          button.pull-left.btn.btn-default(type="button") Skip
          button.pull-right.btn.btn-primary(type="submit") Submit Answer

/***** ALERTS AND POPUPS

.row
  .col-md-8
    h3.subtle-underline Alerts and Popups

.row
  .col-md-12
    h6 Alerts
    .alert.alert-success.alert-dismissable
      button(type="button" class="close" data-dismiss="alert" aria-hidden="true")&times;
      span.glyphicon.glyphicon-ok-circle>
      | Success! Your mother <a href="#" class="alert-link">loves you</a>.
    .alert.alert-danger
      button(type="button" class="close" data-dismiss="alert" aria-hidden="true")&times;
      span.glyphicon.glyphicon-exclamation-sign>
      | Danger! You've been mean to <a href="#" class="alert-link">your mother</a>.
    .alert.alert-info
      button(type="button" class="close" data-dismiss="alert" aria-hidden="true")&times;
      | Friendly reminder! Don't forget to <a href="#" class="alert-link">call home</a>.

/***** ADDRESS MODULE

.row
  .col-md-8
    h3.subtle-underline Address Module
    p
      | This box appears throughout the site any combination of a users old and/or new address, either pre-filled or with empty fields
.row
  .col-sm-6
    .address-box-old
      .address-label old address
      .address-top-row
        input.form-control.address(type="text" placeholder="street address")
        input.form-control.apt-no(type="text" placeholder="apt")
      div
        input.form-control.city(type="text" placeholder="city")
        input.form-control.state(type="text" placeholder="state")
        input.form-control.zip(type="text" placeholder="zip")
    .address-box-new
      .address-label new address
      .address-top-row
        input.form-control.address(type="text" placeholder="street address")
        input.form-control.apt-no(type="text" placeholder="apt")
      div
        input.form-control.city(type="text" placeholder="city")
        input.form-control.state(type="text" placeholder="state")
        input.form-control.zip(type="text" placeholder="zip")
    button.btn.btn-primary.btn-lg.pull-right Get started


/***** TABLES

.row
  .col-md-12
    h3.subtle-underline Tables
    p
      | Tables are used for reporting in our admin tools and business pages
    .table-responsive
      table.table.table-striped
        thead
          tr
            th Client's Name
            th Email Address
            th Invite Sent
            th Invite Accepted
        tbody
          tr
            td Steve Wozniak
            td steve@thewoz.com
            td 04/28/2014
            td YES
          tr
            td Austin Griffith
            td austin@thegrif.com
            td scheduled
            td -
          tr
            td James Franco
            td james@thefranco.com
            td scheduled
            td -
          tr
            td Donna Choi
            td donna@thechoi.com
            td 04/28/2014
            td NO
          tr
            td Gumby
            td gumby@thegumbo.com
            td 04/28/2014
            td YES


/* just adding some space to the bottom for now
p &nbsp;
p &nbsp;
p &nbsp;
p &nbsp;
p &nbsp;